<div class="main-content-container container-fluid px-4">

  <div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
      <div class="form-row">
        <h3 class="page-title">Visit Card</h3>
      </div>
    </div>
  </div>

  <div class="row">
      <div class="col-lg-4">
        <div class="card card-small mb-4 pt-3">
          <div class="card-header border-bottom text-center">
            <div class="mb-3 mx-auto">
              <img class="rounded-circle" [src]="photoPath" alt="User" width="110">
            </div>
            <h4 class="mb-0">
              <span style="text-transform: capitalize;">{{pers.firstName}}</span>	&nbsp;
              <span style="text-transform: capitalize;">{{pers.lastName}}</span>
            </h4>
            <span class="text-muted d-block mb-2" style="text-transform: capitalize;">{{pers.occupation}}</span>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item px-4">
                <strong class="text-muted d-block mb-2">Email</strong>
                <span>{{pers.email}}</span>
            </li>
            <li class="list-group-item px-4">
                <strong class="text-muted d-block mb-2">Degree</strong>
                <span style="text-transform: capitalize;">{{pers.degree}}</span>
            </li>
            <li class="list-group-item px-4">
                <strong class="text-muted d-block mb-2">Working Domain</strong>
                <span style="text-transform: capitalize;">{{pers.workingDomain}}</span>
            </li>
            <li class="list-group-item p-4">
              <strong class="text-muted d-block mb-2">Description</strong>
              <span>{{pers.Description}}</span>
            </li>
            <li class="list-group-item p-4 text-center">
              <button type="reset" class="btn btn-warning">Delete Account</button>
            </li>
          </ul>
        </div>
      </div>
    <div class="col-lg-8">
      <div class="card card-small mb-4">
        <div class="card-header border-bottom">
          <h6 class="m-0">Account Details</h6>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item p-3">
            <div class="row">
              <div class="col">
                <form #myform="ngForm" (ngSubmit)="register(myform)">
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="firstname">First Name</label>
                      <input type="text" class="form-control" id="firstName"
                      required
                      [(ngModel)]="pers.firstName" name="First Name">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="lastname">Last Name</label>
                      <input type="text" class="form-control" id="lastName"
                      required
                      [(ngModel)]="pers.lastName" name="Last Name">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="email">Email</label>
                      <input type="text" class="form-control" id="email"
                      required
                      [(ngModel)]="pers.email" name="Email">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="degree">Degree</label>
                      <input type="text" class="form-control" id="degree"
                      required
                      [(ngModel)]="pers.degree" name="Degree">
                    </div>
                  </div>
                  <div class="form-group">
                      <label for="occupation">Occupation</label>
                      <input type="text" class="form-control" id="occupation"
                      required
                      [(ngModel)]="pers.occupation" name="Occupation">
                  </div>
                  <div class="form-group">
                      <label for="workingDomain">Working Domain</label>
                      <input type="text" class="form-control" id="workingDomain"
                      required
                      [(ngModel)]="pers.workingDomain" name="Working Domain">
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <label for="description">Description</label>
                      <textarea class="form-control" name="Description" rows="3" [(ngModel)]="pers.description" name="Description"></textarea>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-2">
                      <button type="submit" class="btn btn-accent" (click)="onSubmit(myform)">Submit Account</button>
                    </div>
                    <div class="form-group col-md-2">
                      <button type="reset" class="btn btn-danger">Cancel</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>